/* Body Style*/
body { 
	background-color: rgb(15, 15, 15);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}
/*||||||||||||||||||*/

/* Logo style
||||||||||||||||||*/
.hdr-hed { 
	font-size: 30px; 
	color:white;
}
/*||||||||||||||||||*/

/* Section Header style
||||||||||||||||||*/
.header { 
	background-color: mediumslateblue; 
	padding:10rem;
	min-height:10dvh;
}
/*||||||||||||||||||*/

/* Buttons Section style
||||||||||||||||||*/
.btn{
	align-items: center;	
	text-align: center;
}
/* Button */
.button { 
	text-align:center;
	font-size: 16px;
	border-radius:5px;
	background-color: mediumslateblue;
	padding:10px;
	width: 150px;
	height: 25px;
	position: relative;
	display: inline-block;
	left:0;
	top:-20px;
	border: 2px solid rgb(15, 15, 15);
	cursor:pointer;
}
/**/

.button p {
	position:relative;
	top:-13px;
}
/*||||||||||||||||||*/

/* Cards Sections [START]
||||||||||||||||||*/
.st-3 { 
	min-width:20rem;
	margin:5px;
	display:inline;
	position: relative;
	align-items:center;
	text-align: justify;
}
section .box {
	margin:3rem; 
	border-radius: 0.3rem;
	background-color:rgb(238, 238, 238);
	padding:1rem;
	min-height: 15rem;
}
/*||||||||||||||||||*/

/*Section Banner style*/
.banner {
	position: relative;
	min-height: 15rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	background-color: rgb(24, 24, 24);
	align-self: center;
	align-items: center;
	text-align: center;
	padding: 2rem;
}



/* Section Footer style 
||||||||||||||||||*/
.footer { 
	text-align: center;
	align-items: center;
	background-color: mediumslateblue;
	padding: 1rem;
}
/*||||||||||||||||||*/

@media only screen and (max-width: 700px) {
	/* Section "Buttons" on mobile */
	.btn {
		/* Centralize Items */
	  align-items: center;
	  text-align: center;
	}
	.button {
		left:0;
	}
	/*||||||||||||||||||*/

	/* Section "Header" on mobile */
	.header {
		text-align: center;
		align-items: center;
		min-height:15vh;
	}
	/*||||||||||||||||||*/
	.banner {
		height: 25rem;
	}
  }
/* Mobile -700px*/
  @media only screen and (max-width: 700px) {
	.hdr-hed {
		text-align: center;
		margin: auto;
		position:relative;
	}
  }
